.shippori-mincho-b1-regular {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  color : brown;
  font-family: "Lucida Grande";
}
h2{
  text-align: center;
  font-family: serif;
  border : 1px solid #333333;
}
h3{
  text-align: center;
  font-family: serif;
  border : 1px solid #333333;
}
.header{
  background-color: rgb(230, 190, 115);
}
img{
  width: 200px;
  height: 200px;
}
.merge2048{
  width: 500px;
  height: 350px;
}
.header{
  text-align: center;
}
ul{
  text-align :left;
}
a.download {
display: block;
text-align: center;
text-decoration: none;
width: 300px;
margin: auto;
padding: 1rem 4rem;
font-weight: bold;
border: 2px solid rgb(230, 190, 115);
color: rgb(230, 190, 115);
transition: 0.5s;
}
a.download:hover {
color: #fff;
background: rgb(230, 190, 115);
}
p.pull{
  font-size: 20;
  font-family: serif;
display: block;
text-decoration: none;
margin: auto;
font-weight: bold;
color: rgb(230, 190, 115);
transition: 0.5s;
}
p.pull:hover {
color: #fff;
background: rgb(230, 190, 115);
}
p.pull2{
  text-align: center;
  font-family: serif;
  border : 1px solid #333333;
  font-size: 25;
  font-family: serif;
display: block;
text-decoration: none;
margin: auto;
font-weight: bold;
color: black;
transition: 0.5s;
}
p.pull2:hover {
color: #fff;
background: black;
}
p.op{
  text-align :left;
}